.description__image {
    height: 300px;
}

.list {
    padding-left: 1.3rem;
}

.phone-block {
    height: 40px;
}

.btn-block > button{
    margin-right: 15px;
}

.modal {
    display: block;
}

.modal-body {
    display: flex;
}

.modal-body .list {
    padding-left: 25px;
    padding-top: 5px;
    align-items: center;
}

/* Animate */

.phone-enter-active, .phone-leave-active {
    transition: all .5s;
}

.phone-enter, .phone-leave-to {
    transform: translateX(50px);
    opacity: 0;
}

.model-enter-active, .model-leave-active {
    transition: all .5s;
}

.model-enter, .model-leave-to {
    transform: translateY(-100px);
    opacity: 0;
}

.fade-enter-active{
    animation: .75 fade forwards;
}

.fade-leave-active{
    animation: .75 fade reverse;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: .5;
    } 
}